<h1> login </h1>

<form action= "/login" method="POST">
  <input type="text" name="username" placeholder="username"> <br></br>
  <input type="password" name="password" placeholder="password"> <br></br>

  <input type="submit" value="submit">
</form>
